<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <title>Error</title>
</head>
<body style="background-color:powderblue">

<h3 align="center" th:text="#{errorForbidden}">Sorry, you do not have permission to view this page.</h3>
<br>

<h1 align="center" class="align-middle">
    <div>
        <div class="spinner-grow text-danger" role="status">
            <span class="sr-only"></span>
            <button class="btn btn-primary" type="button" onclick="history.back()" th:text="#{buttonGoBack}">
                <span class="spinner-grow text-danger spinner-grow-sm" role="status" aria-hidden="true"></span>
                Go Back
            </button>
            <span class="sr-only"></span>
        </div>
    </div>
</h1>

</body>
</html>