<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
</head>
<body>
    <h1 th:text="#{welcome}"></h1>
<form th:action="@{/login}" method="post">
    <div><label><a th:text="#{username}"></a><input type="text" name="username"/> </label></div>
    <div><label><a th:text="#{password}"></a><input type="password" name="password"/> </label></div>
    <div><button type="submit" th:text="#{signin}"></button></div>
</form>
<form th:action="@{/signUp}" method="get">
           <div><button type="submit" th:text="#{signup}"></button></div>
</form>

    <span th:text="#{lang.change}"></span>
    <select id="locales">
        <option value=""></option>
        <option value="ru" th:text="#{lang.ru}"></option>
        <option value="en" th:text="#{lang.eng}"></option>
    </select>
</body>


<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('login?lang=' + selectedOption);
        }
    });
});

$(document).ready(function() {
    $("#locales").change(function() {
        $("#value").text($(this).val());
        $("#text").text($("#locales option:selected").text());
    });
});
</script>

</html>