<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--&lt;!&ndash; Fonts &ndash;&gt;-->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!--&lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


</head>
<body style="background-color:powderblue">

<style>
    .hamburger {
        height: 20px;
        width: 20px;
        padding: 20px;
        float: right;
        cursor: pointer;
    }

</style>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h1 class="card-header" th:text="#{welcome}"></h1>

                    <!--form-->
                    <form th:action="@{/login}" method="post">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right"><a th:text="#{username}"></a></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="username" name="username" required/>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right"><a
                                    th:text="#{password}"></a></label>
                            <div class="col-md-6">
                                <input type="password" id="password" class="form-control" name="password" required>
                            </div>
                        </div>

                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">Enter</button>
                            <a href="/signUp" type="submit">Sign Up</a>
                        </div>

                        <!--local-->
                        <span th:text="#{lang.change}"></span>
                        <select id="locales" onchange="changeEventHandler(event);">
                            <option value="en" th:text="#{lang.eng}"></option>
                            <option value="ru" th:text="#{lang.ru}"></option>
                        </select>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>
</body>


<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('login?lang=' + selectedOption);
            }
        });
    });
    if ((window.location.href.indexOf("lang=en") > 0)) {
        lang = "English";
        $("#locales").val("en");
    }
    if ((window.location.href.indexOf("lang=ru") > 0)) {
        lang = "Russia";
        $("#locales").val("ru");
    }
    <!--jQuery(document).ready(function(){-->
    <!--jQuery("#locales").change(function() {-->
    <!--var value = jQuery(this).children(":selected").attr("value");-->
    <!--alert(value);-->
    <!--});-->
    <!--})-->
    $(document).ready(function () {
        $("#locales").change(function () {
            $("#value").text($(this).val());
            $("#text").text($("#locales option:selected").text());
        });
    });
</script>

</html>