<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" href="css/style.css">-->

    <!--<link rel="icon" href="Favicon.png">-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>#{titleUpdatePatientPage}</title>
</head>
<body style="background-color:powderblue">
<style>
    span{
        color:red;
    }
</style>

<main class="login-form">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" th:text="#{titleUpdatePatientPage}"></div>
                    <div class="card-body">
                        <form th:action="@{/patients/updatePatient/{id}(id=${patient.id})}" th:object="${patient}" method="POST">
                            <div class="form-group row">
                                <label
                                        class="col-md-4 col-form-label text-md-right" th:text="#{firstNameField}">Input firstName</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="firstName"
                                           autofocus th:value="${patient.firstName}" th:field="*{firstName}">
                                    <span class="err"th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label
                                        class="col-md-4 col-form-label text-md-right" th:text="#{lastNameField}"> Input lastName</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="lastName"
                                           autofocus th:value="${patient.lastName}" th:field="*{lastName}">
                                    <span class="err" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label
                                        class="col-md-4 col-form-label text-md-right" th:text="#{patientDeleted}">Deleted</label>
                                <div class="col-md-6">
                                    <input type="checkbox" class="form-control" name="deleted"
                                           th:checked="${patient.deleted}">
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" th:text="#{buttonSave}"></button>
                                <button type="button"
                                        class="btn btn-secondary" onclick="location.href='/patients';" th:text="#{buttonCancel}"> Cancel </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
