<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" href="css/style.css">-->

    <!--<link rel="icon" href="Favicon.png">-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>#{titleAddPatientPage}</title>
</head>
<body style="background-color:powderblue">

<main class="login-form">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" th:text="#{titleAddPatientPage}"></div>
                    <div class="card-body">
                        <form action="/addPatient"  th:object="${patient}" method="post">
                            <div class="form-group row">
                                <label for="email_address"
                                       class="col-md-4 col-form-label text-md-right" th:text="#{firstNameField}"></label>
                                <div class="col-md-6">
                                    <input type="text" id="email_address" class="form-control" name="firstName" th:field="*{firstName}">
                                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email_address"
                                       class="col-md-4 col-form-label text-md-right" th:text="#{lastNameField}"></label>
                                <div class="col-md-6">
                                    <input type="text" name="lastName" class="form-control" th:field="*{lastName}">
                                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                </div>
                            </div>

                            <!--<div class="form-group row" align="center">-->

                            <!--<c:if test="${!empty requestScope.patientError}">-->
                            <!--<p><font color="red"><span class="error">${patientError_msg}</span></font>-->
                            <!--</p>-->
                            <!--</c:if>-->
                            <!--</div>-->

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" th:text="#{buttonSave}"></button>
                                <a href="/patients" class="btn btn-link" th:text="#{buttonCancel}">Cancel></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>
<span th:if="${param.error != null}" th:text="error"></span>

</body>
</html>