<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"-->
    <!--id="bootstrap-css">-->
    <!--<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
    <!--&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">-->
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <title>Patient Page</title>
</head>
<body style="background-color:powderblue;">

<style>
    table, tbody, thead {
        display: block;
    }
    tbody {
        height: 280px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    table, th, td {
        padding: 11px;
        border: 3px solid rgb(230, 230, 230);
        border-collapse: collapse;
    }
    d {
        padding: 5px;
        text-align: left;
    }
    tr:hover {
        background-color: rgb(255, 255, 255);
    }
    header {
        width: 100%;
        display: inline-block;
        background-color: #404040;
    }

    nav {
        background-color: #2b2b2b;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        clear: both;
        transition: max-height .3s cubic-bezier(0.63, 0, 0.25, 1);;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }
    nav li {
        display: block;
        margin: 0;
        text-align: center;
    }
    nav a {
        color: white;
        display: block;
        padding: .4em;
    }
    header input[type="checkbox"]:checked ~ nav {
        max-height: 150px;
        border-bottom: #404040 5px solid;
    }
    header a:hover,
    header a:focus,
    header label:hover,
    header label:focus {
        background-color: #191919;
    }
    @media (min-width: 700px) {

        nav {
            background: transparent;
            float: right;
            border: 0 !important;
            max-height: none;
        }
        nav ul, nav li, nav li a {
            display: inline-block;
        }
        nav a {
            display: inline-block;
            padding: 15px 1em;
        }
        button.button3 {
            background: -moz-linear-gradient(#1daaa4, #EBFFFF);
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#1daaa4), to(#EBFFFF));
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
            padding: 3px 7px;
            color: #333;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #666;
        }
        th.colHeadFirstTable {
            background: rgba(22, 105, 99, 0.73);
            color: black;
        }
    }
</style>

<header>
    <label></label>
    <nav>
        <ul>
            <li><a href="/personals">Personals</a></li>
            <li><a href="/testPageAleksei">Test main page</a></li>
            <li><a href="#">My profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>

<h3>
    <div style="text-align:center; font-size:28px"> Карточка пациента:
        <a style="text-align:center;font-size:28px" th:text="${patient.firstName}"></a>
        <a style="text-align:center;font-size:28px" th:text="${patient.lastName}"></a>
    </div>
</h3>
<br>
<button class="button3" onclick="window.location.href='/patients'">Go list patients</button>
<br><br>

<fieldset>
    <button class="button3" id="closeDiagnosisButton">Close diagnosis button</button>
    <button class="button3" id="doPrescription" style="display:inline; float:right">Do prescription</button>
    <br><br>

    <div>
        <table class="diagnosisList" id="diagnosis" style="display:inline; float:left" border="1">
            <caption  style=" font-family: Arial, Helvetica, sans-serif;">Диагноз сообщение:</caption>
            <tr>
                <th class="colHeadFirstTable">Id</th>
                <th class="colHeadFirstTable">Description</th>
                <th class="colHeadFirstTable">Time</th>
                <th class="colHeadFirstTable">isOpened</th>

            </tr>
        </table>
    </div>

    <div>
        <table class="prescriptionList" id="prescriptionsTable" style="display:inline; float:right" border="1">
            <caption style=" font-family: Arial, Helvetica, sans-serif;" >Назначение сообщение:</caption>
            <tr class="word">
                <th class="colHeadFirstTable">Id</th>
                <th class="colHeadFirstTable">Description</th>
                <th class="colHeadFirstTable">Type of prescription</th>
                <th class="colHeadFirstTable">Time</th>
                <th class="colHeadFirstTable">Done</th>
            </tr>
        </table>
    </div>
</fieldset>

<br>
<fieldset style="float:left" id="diagnosisFieldSet">
    <legend>Добавить диагноз</legend>
    <br>
    <caption>Описание диагноза:</caption>
    <p><textarea name="comment" id="diagnosisDescription"></textarea></p>
    <button class="button3" id="diagnosisSubmit" value="Добавить">Добавить</button>
</fieldset>

<fieldset id="addPrescriptionFieldSet" style="display:none;">
    <legend>Добавить назначение</legend>
    <form>
        <caption>Тип назначения:</caption>
        <form>
            <select name="prescriptionType" id="prescriptionType">
                <option value="PROCEDURE">Процедура</option>
                <option value="OPERATION">Операция</option>
                <option value="DRUG">Лекарство</option>
            </select>
        </form>
        <caption>Описание назначения:</caption>
        <p><textarea id="prescriptionDescription" name="comment"></textarea></p>
        <button class="button3" id="prescriptionSubmit" value="Добавить">Добавить</button>
    </form>
</fieldset>

<script>
    var currentDiagnosisRow = 1;
    var currentPrescriptionRow = 1;
    //var diagnosisIsOpened = '${diagnosisIsOpened_msg}';
    var diagnosisIsOpened = 'true';
    //var diagnosisIsNotOpened = '${diagnosisIsNotOpened_msg}';
    var diagnosisIsNotOpened = 'false';
    //var operation = '${operation_msg}';
    var operation = 'OPERATION';
    //var prescriptionIsDone = '${prescriptionIsDone_msg}';
    //var prescriptionIsNotDone = '${prescriptionIsNotDone_msg}';
    var prescriptionIsDone = 'true';
    var prescriptionIsNotDone = 'false';
    var doPrescriptionButton = document.getElementById("doPrescription");
    doPrescriptionButton.addEventListener("click", prescriptionDoneListener);
    var closeDiagnosisButton = document.getElementById("closeDiagnosisButton");
    closeDiagnosisButton.addEventListener("click", closeDiagnosisButtonListener);
    var diagnosisSubmitButton = document.getElementById("diagnosisSubmit");
    diagnosisSubmitButton.addEventListener("click", diagnosisSubmitButtonListener);
    var prescriptionSubmitButton = document.getElementById("prescriptionSubmit");
    prescriptionSubmitButton.addEventListener("click", prescriptionSubmitButtonListener);
    var diagnosisTable = document.getElementById("diagnosis");
    var diagnosis = toJson('[[${diagnoses}]]');
    var userRole = '[[${role}]]';
    if (diagnosis.length > 0) {
        //updateDiagnosisTable(diagnosis, diagnosisTable);
        getAndUpdateDiagnosis();
    }
    function toJson(stringJson) {
        return JSON.parse(stringJson.replace(/&quot;/g, "\""));
    }
    function prescriptionSubmitButtonListener() {
        var prescriptionTextArea = document.getElementById("prescriptionDescription");
        var prescriptionTypeSelect = document.getElementById("prescriptionType");
        var diagnosisTable = document.getElementById("diagnosis");
        if (prescriptionTextArea.value === "") {
            alert("Введите описание назначения");
        } else {
            $.post(window.location.href +
                "/diagnosis/" + diagnosisTable.rows[currentDiagnosisRow].cells[0].innerHTML +
                "/addPrescription/" +
                "description=" + prescriptionTextArea.value+
                "/type=" + prescriptionTypeSelect.value, {}, function (response) {
                updatePrescriptionsTable(diagnosisTable.rows[currentDiagnosisRow].cells[0].innerHTML);
                prescriptionTextArea.value = "";
            });
        }
    }
    function diagnosisSubmitButtonListener() {
        var diagnosisTextArea = document.getElementById("diagnosisDescription");
        var diagnosisTable = document.getElementById("diagnosis");
        var prescriptionFieldSet = document.getElementById("addPrescriptionFieldSet");
        if (diagnosisTextArea.value === "") {
            alert("Введите описание диагноза");
        } else {
            $.post(window.location.href + "/addDiagnosis/descr="+diagnosisTextArea.value, {}, function (response) {
                diagnosisTextArea.value = "";
                getAndUpdateDiagnosis();
            });
        }
    }
    function prescriptionDoneListener() {
        var prescriptionTable = document.getElementById("prescriptionsTable");
        var diagnosisTable = document.getElementById("diagnosis");
        $.post(window.location.href + "/doPrescription/"+prescriptionTable.rows[currentPrescriptionRow].cells[0].innerHTML,
            {prescriptionId : prescriptionTable.rows[currentPrescriptionRow].cells[0].innerHTML}, function () {
                updatePrescriptionsTable(diagnosisTable.rows[currentDiagnosisRow].cells[0].innerHTML);
                var doPrescriptionButton = document.getElementById("doPrescription");
                doPrescriptionButton.style.display = "none";
            });
    }
    function updateDiagnosisTable(diagnosis, table) {
        var diagnosisTable = document.getElementById("diagnosis");
        for (var i = diagnosisTable.rows.length - 1; i > 0; i--) {
            diagnosisTable.deleteRow(i);
        }
        for (var i = 0; i < diagnosis.length; i++) {
            var newRow = table.insertRow(i + 1);
            if ((i + 1) === currentDiagnosisRow) {
                setSpecialStyle(newRow);
            } else {
                setDefaultStyle(newRow);
            }
            newRow.addEventListener("click", diagnosisClick);
            for (var j = 0; j < 4; j++) {
                var newCell = newRow.insertCell(j);
                if (j === 0) {
                    newCell.innerHTML = diagnosis[i]['id'];
                } else if (j === 1) {
                    newCell.innerHTML = diagnosis[i]['description'];
                } else if (j === 2) {
                    newCell.innerHTML = diagnosis[i]['time'];
                } else if (j === 3) {
                    newCell.innerHTML = diagnosis[i]['opened'];
                }
            }
        }
        updatePrescriptionsTable(diagnosisTable.rows[currentDiagnosisRow].cells[0].innerHTML);
    }
    function updateDiagnosisElementsStyle() {
        var diagnosisTable = document.getElementById("diagnosis");
        var closeDiagnosisButton = document.getElementById("closeDiagnosisButton");
        var prescriptionFieldSet = document.getElementById("addPrescriptionFieldSet");
        var diagnosisFieldSet = document.getElementById("diagnosisFieldSet");
        var isDiagnosisOpened = diagnosisTable.rows[currentDiagnosisRow].cells[3].innerHTML;
        if(userRole === "DOCTOR" || userRole === "ADMIN") {
            if (isDiagnosisOpened === diagnosisIsNotOpened) {
                prescriptionFieldSet.style.display = "none";
                closeDiagnosisButton.style.display = "none";
            } else if (isDiagnosisOpened === diagnosisIsOpened) {
                prescriptionFieldSet.style.display = "inline";
                closeDiagnosisButton.style.display = "inline";
            }
        } else {
            prescriptionFieldSet.style.display = "none";
            closeDiagnosisButton.style.display = "none";
            diagnosisFieldSet.style.display = "none";
        }
    }
    function setSpecialStyle(row) {
        row.style.color = "red";
    }
    function setDefaultStyle(row) {
        row.style.color = "black";
    }
    function diagnosisClick() {
        var prescriptionTable = document.getElementById("prescriptionsTable");
        var rows = this.parentNode.rows;
        for (i = 1; i < rows.length; i++) {
            setDefaultStyle(rows[i]);
        }
        setSpecialStyle(this);
        currentDiagnosisRow = $(this).index();
        var currentDiagnosisId = this.cells[0].innerHTML;
        updateDiagnosisElementsStyle();
        var doPrescriptionButton = document.getElementById("doPrescription");
        doPrescriptionButton.style.display = "none";
        var prescriptionSubmitButton = document.getElementById("prescriptionSubmit");
        prescriptionSubmitButton.value = currentDiagnosisId;
        updatePrescriptionsTable(currentDiagnosisId);
    }
    function updatePrescriptionsTable(diagnosis_id) {
        $.get(window.location.href+"/diagnosis/"+diagnosis_id+"/prescription",
            {}, function (response) {
            var prescriptions = toJson(response);
            var table = document.getElementById('prescriptionsTable');
            for (var i = table.rows.length - 1; i > 0; i--) {
                table.deleteRow(i);
            }
            if (prescriptions.length === 0) {
                table.style.display = "none";
            } else {
                table.style.display = "block";
            }
            for (var i = 0; i < prescriptions.length; i++) {
                var newRow = table.insertRow(i + 1);
                newRow.addEventListener("click",prescriptionClick);
                for (var j = 0; j < 5; j++) {
                    var newCell = newRow.insertCell(j);
                    if (j === 0) {
                        newCell.innerHTML = prescriptions[i]['id'];
                    } else if (j === 1) {
                        newCell.innerHTML = prescriptions[i]['description'];
                    } else if (j === 2) {
                        newCell.innerHTML = prescriptions[i]['type'];
                    } else if (j === 3) {
                        newCell.innerHTML = prescriptions[i]['time'];
                    } else if (j === 4) {
                        newCell.innerHTML = prescriptions[i]['done'];
                    }
                }
            }
            updateDiagnosisElementsStyle();
            //updatePrescriptionsElementsStyle();
        });
    }
    function prescriptionClick() {
        var rows = this.parentNode.rows;
        for (i = 1; i < rows.length; i++) {
            setDefaultStyle(rows[i]);
        }
        setSpecialStyle(this);
        currentPrescriptionRow = $(this).index();
        updatePrescriptionsElementsStyle();
    }
    function updatePrescriptionsElementsStyle() {
        var doPrescriptionButton = document.getElementById("doPrescription");
        var prescriptionTable = document.getElementById("prescriptionsTable");
        var isPrescriptionDone = prescriptionTable.rows[currentPrescriptionRow].cells[4].innerHTML;
        if (isPrescriptionDone === prescriptionIsNotDone) {
            doPrescriptionButton.style.display = "inline";
        } else if(isPrescriptionDone === prescriptionIsDone) {
            doPrescriptionButton.style.display = "none";
        }
        if (userRole === "NURSE") {
            if(prescriptionTable.rows[currentPrescriptionRow].cells[2].innerHTML === operation) {
                doPrescriptionButton.style.display = "none";
            }
        }
    }
    function closeDiagnosisButtonListener() {
        var diagnosisTable = document.getElementById("diagnosis");
        $.post(window.location.href+"/closeDiagnosis/"+diagnosisTable.rows[currentDiagnosisRow].cells[0].innerHTML,
            {}, function () {
            getAndUpdateDiagnosis();
        });
    }
    function getAndUpdateDiagnosis() {
        $.get(window.location.href+"/diagnosis/", {}, function (response) {
            var diagnosis = toJson(response);
            var diagnosisTable = document.getElementById("diagnosis");
            updateDiagnosisTable(diagnosis, diagnosisTable);
        });
    }
</script>
</body>
</html>
