<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Page</title>
</head>
<body>

    <table class="patient" border="1">
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>isDischarged</th>
            <th>isDeleted</th>
        </tr>


            <td th:text="${patient.id}"></td>
            <td th:text="${patient.firstName}"></td>
            <td th:text="${patient.lastName}"></td>
            <td th:text="${patient.isDischarged}"></td>
            <td th:text="${patient.isDeleted}"></td>


    </table>

</th:if>
<th:else>
    <p>No tasks yet</p>
</th:else>
</body>
</html>