<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>

patients.html

<div th:if="${patients} != null">
    <table class="patientList" border="1">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Personal card</th>
        </tr>


        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.firstName}"></td>
            <td th:text="${patient.lastName}"></td>
            <td><form name="Button" th:action="@{/patients/} + ${patient.id}" method="POST" style="display:inline">
                <input type="submit" value="Open card"/>
            </form></td>
        </tr>

    </table>

</div>
</th:if>
<th:else>
    <p>No tasks yet</p>
</th:else>
</body>
</html>