<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Add personal</title>
</head>

<body style="background-color:powderblue;overflow:hidden">

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Page of sign up</div>
                    <div class="card-body">
                        <form th:action="@{/signUp}" method="post">
                            <div class="form-group row">
                                <label for="field1"
                                       class="col-md-4 col-form-label text-md-right">Input User Name:</label>
                                <div class="col-md-6">
                                    <input type="text" id="field1" class="form-control" name="firstName" required
                                           autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="field2"
                                       class="col-md-4 col-form-label text-md-right">Input Password:</label>
                                <div class="col-md-6">
                                    <input type="text" id="field2" class="form-control" name="lastName" required
                                           autofocus >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="field3"
                                       class="col-md-4 col-form-label text-md-right">Input First Name:</label>
                                <div class="col-md-6">
                                    <input type="text" id="field3" class="form-control" name="login" required
                                           autofocus >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="field4"
                                       class="col-md-4 col-form-label text-md-right">Input Last name:</label>
                                <div class="col-md-6">
                                    <input type="text" id="field4" class="form-control" name="login" required
                                           autofocus>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" name="personalId" value="${currentPersonal.personalId}"
                                        class="btn btn-primary">
                                    Save
                                </button>
                                <a href="/personals.jsp" class="btn btn-link">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>