<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>SignUp page</title>
</head>
<body>
<h1 th:text="#{greeting}"></h1>

<span th:if="${param.loginAleadyUsed != null}" th:text="loginAleadyUsed"></span>
<span th:if="${param.loginNotValid != null}" th:text="loginNotValid"></span>
<br>


<form th:action="@{/signUp}" method="post">
    <div><label> User Name: <input type="text" name="login"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> First name: <input type="text" name="firstName"/> </label></div>
    <div><label> Last name: <input type="text" name="lastName"/> </label></div>
    <div>
        <select name="role" id="role-id">
            <option value="DOCTOR">Doctor</option>
            <option value="NURSE">Nurse</option>
        </select>
    </div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>